*{
    margin:0;
    box-sizing : border-box;
}

html{
    scroll-behavior: smooth;
}


nav{
    display: flex;
    padding:2%;
    justify-content: space-between;
    background-color:  #0078f1;
    transition: all ease .65s;
    z-index: 100;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    color: white;
}

nav span {
    font-size: 1em;
    margin-left: 3%;
    margin-right: 3%;
    list-style: none;
}

nav span{
    display: flex;
    justify-content: space-between;
}

nav span .bar{ 
    display: none;
    font-size: 1.5em;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
  }

nav li {
    display: inline-block;
    margin-right: 20px;
}


nav li a{
    text-decoration: none;
    padding: 1em;
    color: #fff;
    font-size: 0.8em;
    text-transform: uppercase;
}

nav li a:hover {
    color: #f55858;
}

/**
* Nav After Scroll
*/
nav.scroll {
    padding: 1%;
    background: white;
    position: fixed;
    box-shadow: 0 5px 5px -5px  #00000021;
}
  
nav.scroll span {
    font-size: 18px;
    color : #0078f1;
}

nav.scroll li a {
    color : black;
}

nav.scroll li a:hover {
    color: #f55858;
}

.container1{
    background-color: #0078f1;
    height: auto;
    display: flex;
    flex-wrap: wrap;

}

.title_slider{
    margin-top : 10%;
    margin-left : 5%;
    margin-right : 5%;
    margin-bottom : 10%;
    width: 45%;
}

.title_slider h1{
    font-size : 4em;
    /* text-shadow: 4px 2px #005ebe; */
    color: white;
    font-family: 'Poppins', sans-serif;
}

.image_slider{
    padding-top : 7%;
    padding-bottom : 7%;
    padding-left : 2%;
    padding-right: 2%;
    width : 40%;
    max-width : 100%;  
    
}

.image_slider img{
    margin : 0;
    width : 100%;
    max-width : 100%;  
    opacity: 0.8; 
}



.container2{
    background : rgba(0, 120, 241, 0.09);
    height: auto;
    display: flex;
    flex-direction: row;
    font-family: 'Roboto', sans-serif;

}

.image_covid{
    margin-top: 10%;
    margin-bottom: 10%;
    width : 40%;
    max-width : 100%; 
    margin-left:5%;
}

.image_covid img{
    margin-left: auto;
    display:block;
    width : 100%;
    max-width : 100%;    
}

.penjelasan{
    margin-top: 12%;
    margin-bottom: 12%;
    margin-right: 5%;
    margin-left:5%;
    width: 60%;
}

.penjelasan h1{
    color: #004E9C;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 2.5em;
}

.penjelasan p{
    padding-top: 2%;
    font-size:1.1em;
    text-align: justify;
    color: #012040;
    line-height: 2;
    font-family: 'Roboto', sans-serif;
}

.container3{
    background-color:#fcfcfc;
    height: auto;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}

.title_gejala{
    padding-top : 5%;
    padding-left : 5%;
    padding-right : 5%;
    color: #004E9C;
    font-size : 1.1em;
}

.title_gejala hr{
    margin-top:1%;
    border:none;
    box-shadow: 0 5px 5px -5px #333;
    height: 20px;
}

.parent-box-gejala{
    display: flex;
    margin-top: 7%;
    margin-left : 5%;
    margin-right : 5%;
    margin-bottom: 7%;
    flex-direction: row;
    justify-content: space-around;

}

.box-gejala{
    width: 300px;
    height: auto;
    /* box-shadow: 4px 6px 5px 4px #e0e0e0; */
    box-shadow: 15px 10px 30px 0px #00000021;
    padding-bottom: 5%;
}

.box-gejala img{
    display: block;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    
}

.box-gejala h1{
    text-align: center;
    color: #003365;
    font-size:1.4em;
}

.box-gejala p{
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    text-align: justify;
    color: #717171;
    font-family: 'Roboto', sans-serif;
    line-height: 1.3;
}

.container4{
    background-color:#0078f1;
    height: auto;
    display: flex;
    color:white;
    flex-direction: column;
    padding-bottom: 7%;
}


.step, .step2{
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 5%;
    width:100%;
    display: flex;
    flex-direction: row;
}

.deskripsi{
    width:70%;
}

.deskripsi h1{
    font-family: 'Poppins', sans-serif;
    width: 80%;
}

.deskripsi p{
    margin-top: 1%;
    font-size:1em;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}

.step-image{
    width : 25%;
    max-width : 100%; 
}

.step-image img{
    width:70%;
}

.step .step-image img{
    margin-left:auto;
    display:block;

}

.step2 .step-image img{
    margin-right:auto;
    display:block;
}


@media screen and (max-width: 1280px){
    .title_slider h1{
        font-size : 3.8em;
    }

    .box-gejala{
        max-width:30%;
    }

    .box-gejala h1{
        font-size: 1.3em;
    }

    .box-gejala p{
        font-size:0.9em;
    }
}

@media screen and (max-width: 1150px){

    nav li {
        display: inline-block;
        margin-right: 10px;
    }
    
    .title_slider{
        width: 45%;
    }

    .title_slider h1{
        font-size: 2.6em;
    }

    .image_slider{
        width : 40%;
    }

    .image_covid{
        width : 45%;
        max-width : 100%; 
    }
    
    .image_covid img{
        width : 80%;
        max-width : 100%;   
    }
    
    .penjelasan{
        width:55%;
    }

    .deskripsi{
        width:60%;
    }

    .step-image{
        width : 35%;
    }

    .deskripsi h1{
        font-size: 1.7em;
    }
}

@media screen and (max-width: 800px){
    .container1{
        flex-direction: column;
    } 

    .title_slider{
      margin-left: auto;
      display: block;
      margin-right: auto;
      width: 100%;
    }

    .title_slider h1{
        font-size : 3em;
        text-align: center;
    }
    
    .image_slider{
        width: 60%;
        display: block;
        margin-right: auto;
        margin-left: auto;
        padding-top:0;   
        overflow: hidden;
    }

    .image_slider.image2{
        max-width : 52%;
       
    }

    .container2{
        flex-direction: column;
    }

    .image_covid{
        margin-top: 10%;
        margin-bottom: 10%;
        width : 100%;
        margin-left:0;
        max-width: 100%;
    }
    
    .image_covid img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width : 50%;
        max-width : 100%;   

    }

    .penjelasan{
        margin-top:0;
        margin-left:0;
        padding-left: 10%;
        padding-right: 10%;
        width:100%;
    }
    
    .penjelasan h1{
        font-size: 2em;
    }
    
    .penjelasan p{
        font-size:1em;
    }

    .title_gejala{
        padding-left : 10%;
        padding-right : 10%;
    }
    
    .parent-box-gejala{
        flex-direction: column;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    .box-gejala{
        max-width: 100%;
        width: 350px;
        margin-top: 5%;
        padding-bottom : 8%;
    }

    .box-gejala h1{
        font-size: 1.4em;
    }

    .box-gejala p{
        font-size:1em;
    }
    
    .step, .step2{
        flex-direction: column;
        margin-top: 10%;
        padding-left:10%;
    }

    .step .deskripsi{
        order:2;
    }

    .deskripsi, .deskripsi h1{
        width:100%;
    }

    .step-image{
        width : 100%;
        max-width : 100%; 
        margin-left: 0;
    }

    .step .step-image img, .step2 .step-image img{
        width:35%;
        margin-left:auto;
        margin-right:auto;
        display:block;
    }

    nav ul li{
        display: none;
    }

    nav{
       flex-direction: column;
       text-align: center;
    }

    nav ul {
        flex-direction: column;
        text-align: center;
     }

    nav span .bar{ 
        display: block;
        color: white;
    }

    .responsive li{
        display: block;
    }

    nav span {
        font-size: 1em;
        margin-left: 3%;
        margin-right: 3%;
        padding-top: 2%;
        padding-bottom: 2%;
        list-style: none;
    }

    nav span h2{
        font-size: 1.3em;
    }

    nav.scroll span .bar {
        color : #0078f1;
    }

    nav li{
        font-size: 1.2em;
        padding-top: 1%;
        padding-bottom: 1%;
    }

    nav ul li:hover {
        color: #f55858;
    }

}

@media screen and (max-width: 600px){
    .title_slider h1{
        font-size : 2em;
    }

    .container2{
        flex-direction: column;
    }

    .deskripsi h1{
        font-size: 1.8em;
    }

    .deskripsi p{
        font-size: 0.9em;
    }


}
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
